# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Python tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDEs
.vscode/
.idea/

# Environment / secrets
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Helm
*.tgz

# OS/editor temporary files
*.swp
*.swo